.App {
  font-family: sans-serif;
  text-align: center;
  width: 100%;
  max-width: 1180px;
  border: 1px solid gray;
  margin: 0 auto;
}

.weekCalendar {
  display: flex;
}
.day {
  width: calc(100% / 7);
  display: flex;
  flex-direction: column;
}
.time {
  position: relative;
  border: 1px solid gray;
}

.time:nth-child(2n + 1) {
  border-bottom: none;
}

